

/* The header tease
 the message on the top of the page
*/
.header-tease {
    background-color: darkturquoise;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
}

/* no padding as in container-fluid*/
.container-tease {
    margin-left: auto;
    margin-right: auto;
}

/* To resolve the overlapping of right element on the left picture */
/* See http://stackoverflow.com/questions/710158/why-do-my-list-item-bullets-overlap-floating-elements */
/* Conflict with the header menu, then only for the content inside the dokuwiki class */
.dokuwiki ul {
	overflow: hidden;
}

