/* Customization of element */

/* There is a padding from chrome one the UL of the list of search pagae */
#qsearch__out > ul {
    padding-left: 0px;
}

/* The result of the search is going at the top outside the windows */
#qsearch__out {
    top: 70%;
}


/*Header*/
div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
    background-color: inherit;
    /*text-decoration: underline; underline property cross hackes whereas border does not*/
    width: -moz-max-content;
    /* The content will go outside of the parent
     The border will stop to the end of the content */
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-max-content;
    /* The content may become so long that it goes outside the parent
    max width prevent it */
    max-width: 100%;
    /* The border will stop to the end of the content
    - Pb: The content will go outside of the parent*/
    border-bottom: 1px solid #8cacbb;
    clear: left;
    color: #000;
    font-size: 100%;
    font-weight: normal;
    /*
    As the top-nav-bar is fix, the two below values must be equal to the navbar offset
    in order to get a correct navigation to the anchor
    See http://stackoverflow.com/questions/17181355/boostrap-using-fixed-navbar-and-anchor-tags-to-jump-to-sections
    */
    padding: 95px 0 0;
    margin: -80px 0 10px;
}

/* The h2 in the extension manager is impacted by the  top-nav-bar fix for the content */
div.dokuwiki div#extension__manager h2 {
    padding-top: 0px;
    margin-top: 0px;
}



div.dokuwiki h1 {
    font-size: 160%;
    font-weight: bold;
    margin-left: 0;
}

div.dokuwiki div.level1 {
    margin-left: 0px;
}

div.dokuwiki h2 {
    font-size: 150%;
    margin-left: 0px;
}
div.dokuwiki div.level2 {
    margin-left: 0px;
}
div.dokuwiki h3 {
    border-bottom: medium none -moz-use-text-color;
    font-size: 140%;
    font-weight: bold;
    margin-left: 15px;
}
div.dokuwiki div.level3 {
    margin-left: 15px;
}

div.dokuwiki h4 {
    border-bottom: medium none -moz-use-text-color;
    font-size: 120%;
    font-weight: bold;
    margin-left: 30px;
}
div.dokuwiki div.level4 {
    margin-left: 30px;
}

div.dokuwiki h5 {
    border-bottom: medium none -moz-use-text-color;
    font-size: 100%;
    font-weight: bold;
    margin-left: 45px;
}
div.dokuwiki div.level5 {
    margin-left: 45px;
}

/*Toc*/
#dw__toc h3 {
    margin-left: 0px; /* as h2 */
    margin-bottom: 3px;
}

ul.toc {
    padding-left: 15px;
}

/* No bullet */
#dw__toc * ul {
    list-style-type: none;
}

/* No minus on the header */
#dw__toc > h3 > strong {
    display: none;
}


/* No margin left on small screen */
@media (min-width: 0px) and (max-width: 576px) {

	#dw__toc h3 {
		margin-left: 0px;
	}

	.dokuwiki blockquote.blockquote-plugin {
		margin: 0.5em 0.5em;
	}

	div.dokuwiki h2 {
		margin-left: 0px;
	}

	div.dokuwiki div.level2 {
		margin-left: 0px;
	}

	div.dokuwiki h3 {
		margin-left: 0px;
	}

	div.dokuwiki div.level3 {
		margin-left: 0px;
	}

	div.dokuwiki h4 {
		margin-left: 0px;
	}

	div.dokuwiki div.level4 {
		margin-left: 0px;
	}

	div.dokuwiki h5 {
		margin-left: 0px;
	}

	div.dokuwiki div.level5 {
		margin-left: 0px;
	}

	div.dokuwiki h6 {
		margin-left: 0px;
	}

	div.dokuwiki div.level6 {
		margin-left: 0px;
	}

	div.dokuwiki h7 {
		margin-left: 0px;
	}

	div.dokuwiki div.level7 {
		margin-left: 0px;
	}

	div.dokuwiki h8 {
		margin-left: 0px;
	}

	div.dokuwiki div.level8 {
		margin-left: 0px;
	}

	div.dokuwiki h9 {
		margin-left: 0px;
	}

	div.dokuwiki div.level9 {
		margin-left: 0px;
	}

}
