

/* The header tease
 the message on the top of the page
*/
.header-tease {
    background-color: darkturquoise;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
}

/* no padding as in container-fluid*/
.container-tease {
    margin-left: auto;
    margin-right: auto;
}



/* Max 100% of the containing container */
/* Otherwise the image may overflow */
img, embed, object, video {
  max-width: 100%;
  margin: 1rem;
}

/** The input summary when editing a page is 50px fix **/
input {
	max-width: 100%;
}

/** The icon were clipped **/
ul.bookmarkme li {
	height: unset;
}


