/* footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    width: 100%;
    left: 0px;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #f8f8f8;
    background-image: linear-gradient(to top,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    margin-top: 20px;
    padding-top: 20px;
    border-top-width: 20px;
    padding-bottom: 20px;

}
