div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
    background-color: inherit;
    /*text-decoration: underline; underline property cross hackes whereas border does not*/
    width: -moz-max-content; /* The border will stop to the end of the content */
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-max-content; /* The border will stop to the end of the content */
    border-bottom-color: #8cacbb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    clear: left;
    color: #000;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    /*
    As the top-nav-bar is fix, the two below values must be equal to the navbar offset
    in order to get a correct navigation to the anchor
    See http://stackoverflow.com/questions/17181355/boostrap-using-fixed-navbar-and-anchor-tags-to-jump-to-sections
    */
    padding-top: 80px;
    margin-top: -80px;
}

/* The h2 in the extension manager is impacted by the  top-nav-bar fix for the content */
div.dokuwiki div#extension__manager h2 {
    padding-top: 0px;
    margin-top: 0px;
}

div.dokuwiki h1 {
    font-size: 160%;
    font-weight: bold;
    margin-left: 0;
}
div.dokuwiki h2 {
    font-size: 150%;
    margin-left: 20px;
}
div.dokuwiki h3 {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    font-size: 140%;
    font-weight: bold;
    margin-left: 40px;
}
div.dokuwiki h4 {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    font-size: 120%;
    font-weight: bold;
    margin-left: 60px;
}
div.dokuwiki h5 {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    font-size: 100%;
    font-weight: bold;
    margin-left: 80px;
}
div.dokuwiki div.level1 {
    margin-left: 3px;
}
div.dokuwiki div.level2 {
    margin-left: 23px;
}
div.dokuwiki div.level3 {
    margin-left: 43px;
}
div.dokuwiki div.level4 {
    margin-left: 63px;
}
div.dokuwiki div.level5 {
    margin-left: 83px;
}

/*Toc*/
#dw__toc h3 {
    margin-left: 20px; /* as h2 */
    margin-bottom: 3px;
}